###> LOCAL FOLDER
.DS_Store
DispatchesApp/Resources/.DS_Store
*/.DS_Store

.DS_Store/
.idea/
.vs/
.vscode/
DispatchesApp/.DS_Store

###< END LOCAL FOLDERS

###> PROJECT FILES
obj/
bin/

DispatchesApp/bin/
DispatchesApp/obj/
DispatchesApp/.idea/

###<END PROJECT FILES
