###> LOCAL FOLDER
.DS_Store
FioryApp/Resources/.DS_Store

.DS_Store/
.idea/
.vs/
FioryApp/.DS_Store
FioryCLI/.DS_Store
FioryLibrary/.DS_Store

###< END LOCAL FOLDERS

###> PROJECT FILES
obj/

FioryApp/bin/
FioryApp/obj/

FioryCli/bin/
FioryCli/obj/

FioryLibrary/bin/
FioryLibrary/obj/

###<END PROJECT FILES
